<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Farming test scene" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false">
        <activity android:name=".SceneActivity" android:screenOrientation="landscape" android:exported="true" android:launchMode="singleTask">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
